<body>
	<div class="container-page">
		<div class="container-login row">
			<div class="col-md-6 whapper-forms">
				<div class="unwhapp-logo">
					<img class="logo-hd" src="img/perfilfbwd.png" /><span>Wordcoding</span>
				</div>
				<p class="desc-forms margin-top-20">
					Entre ou crie seu cadastro, é rapido facil e seguro, tudo que você precisa em um só lugar.
				</p>
				<p class="divide-section">Login</p>
				<form class="unwhapp-form">
					<span>Seu email:</span>
					<div class="unwhapp-input">
						<i class="fa-solid fa-envelope"></i><input id="email" required type="email" class="input-form-default" placeholder="georgesmith@example.com" />
					</div>
					<span>Sua senha:</span>
					<div class="unwhapp-input">
						<i class="fa-solid fa-lock"></i><input id="senha" required type="password" class="input-form-default" placeholder="xxxxxxxxxx" /><i class="fa-solid fa-eye icon-eye-pass"></i>
					</div>
					<div id="unwhapp-checked">
						<input id="input-lembrar" type="checkbox" name="lembrar" /><span id="lembrar"> Continuar logado ? </span>
					</div>
					<div class="unwhapp-btn-submit row">
						<div class="col-md-6">
							<button class="btn-secondary-form btn-entry" type="submit">Entrar</button>
						</div>
						<div class="col-md-6">
							<button class="btn-secondary-form btn-cad" type="submit">Cadastrar-se</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-6 walppaper">
				<img class="img-walppaper" src="img/capa.jpg" />
			</div>
		</div>
	</div>
</body>
</html>