<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <title>Login HTML5 CSS3 PHP Javascript - Front|Back End</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="jquery-ui/jquery-ui.min.css" />
	<link rel="stylesheet" href="css/global.css?v2.8" />
	<link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css' rel='stylesheet'/>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin='anonymous' />
	<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&family=Rubik:wght@300&display=swap" rel="stylesheet">
	<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="jquery-ui/external/jquery/jquery.js"></script>
    <script src="jquery-ui/jquery-ui.min.js"></script>
	<script crossorigin='anonymous' src='https://kit.fontawesome.com/9b3fb4855f.js'></script>
	<script src="js/global.js?v6.1"></script>
</head>